@import 'variables';
.login {
  position: relative;
  backface-visibility: hidden;
  &__title {
    font-size: $font-size-md;
    font-family: $base-font-family;
    font-weight: $font-weight-extra-thin;
    color: $base-color;
    text-align: center;
    letter-spacing: $base-letter-spacing;
  }

  &__alert {
    margin: $margin-xs auto;
    width: 100%;
    text-align: center;
    padding: $padding-xs;
    font-weight: $font-weight-extra-thin;
    letter-spacing: $base-letter-spacing;

    &_success {
      color: $success-color;
      border: $success-border;
      border-radius: $border-radius-sm;
    }

    &_danger {
      color: $danger-color;
      border: $danger-border;
      border-radius: $border-radius-sm;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__email, &__password {
      width: 100%;
      font-size: $base-font-size;
      font-weight: $font-weight-extra-thin;
      letter-spacing: $base-letter-spacing;
    }

    &__button {
      width: 100%;
      font-size: $font-size-lg;
      font-weight: $font-weight-extra-thin;
      padding: $padding-xs;
      letter-spacing: $base-letter-spacing;
    }
  }

  &__action {
    margin-top: $base-margin;
    text-align: center;
    font-size: $font-size-sm;
    color: $base-color;
    font-family: $base-font-family;
    font-weight: $font-weight-extra-thin;
    letter-spacing: $base-letter-spacing;
    padding-bottom: $base-padding * 2;

    &__sign-up {
      font-weight: $font-weight-extra-bold;
      text-transform: uppercase;
      color: $primary-color;
      margin-left: $margin-xs;
      cursor: pointer;
    }
  }
}
