@import 'variables';

.side-nav {
  height: 100%;
  box-shadow: 7px 0 20px 1px #000;
  overflow: hidden;

  &__card.mat-card {
    height: 100%;
    border-radius: 0;
    padding: 0;
  }

  &__card {

    .mat-card-title {
      display: flex;
    }

    &__header {
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      cursor: pointer;
      height: 70px;

      button {
        height: 100%;
        display: flex;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        min-width: fit-content;
        width: 100%;
        -webkit-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        -moz-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        -ms-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        -o-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        transition-delay: .1s;
        &.hide {
          opacity: 0;
          visibility: hidden;
          min-width: 0;
          width: 0;
          padding: 0;
        }
      }
      &__title {
        margin: 0;
        text-align: center;
        color: $base-color;
        text-transform: uppercase;
        font-family: $base-font-family;
        font-weight: $font-weight-extra-thin;
        letter-spacing: $base-letter-spacing - 1;
        opacity: 0;
        visibility: hidden;
        width: 0;
        -webkit-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        -moz-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        -ms-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        -o-transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        transition: opacity $transition-timing-sm ease-in, width $transition-timing-sm ease-in;
        transition-delay: .1s;
        padding: 0;


        &.show {
          opacity: 1;
          visibility: visible;
          width: 100%;
          padding: $padding-md;
        }
      }
    }

    &__content.mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__content {
      &__button.mat-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: $font-size-md;
        padding: $padding-md;
        font-family: $base-font-family;
        font-weight: $font-weight-extra-thin;
        letter-spacing: $base-letter-spacing;
        min-width: fit-content;
      }

      &__button {
        .mat-button-wrapper {
          display: flex;
          text-align: left;
          align-items: center;
        }

        fa-icon {
          width: 20px;
          > svg {
            width: 20px;
          }
        }

        &__title {
          display: inline-block;
          overflow: hidden;
          padding-left: $base-padding;
        }

        &.active {
          background-color: $dark-grey-color;
        }
      }
    }
  }
}
