<div class="side-nav">
  <mat-card class="side-nav__card">
    <mat-card-title class="side-nav__card__header">
      <h4 class="side-nav__card__header__title">Accountancy</h4>
    </mat-card-title>
    <mat-card-content class="side-nav__card__content">
      <button class="side-nav__card__content__button" mat-button color="accent">
        <i class="material-icons">receipt</i>
        <span class="side-nav__card__content__button__title">Bill</span>
      </button>
      <button class="side-nav__card__content__button" mat-button color="accent">
        <i class="material-icons">history</i>
        <span class="side-nav__card__content__button__title">History</span>
      </button>
      <button class="side-nav__card__content__button" mat-button color="accent">
        <i class="material-icons">archive</i>
        <span class="side-nav__card__content__button__title">Planning</span>
      </button>
      <button class="side-nav__card__content__button" mat-button color="accent">
        <i class="material-icons">edit</i>
        <span class="side-nav__card__content__button__title">Records</span>
      </button>
    </mat-card-content>
  </mat-card>
</div>
