<div class="registration">
  <h4 class="registration__title">Registration for access</h4>
  <form action="" class="registration__form">
    <mat-form-field class="registration__form__email">
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="registration__form__password">
      <input matInput placeholder="Password">
    </mat-form-field>

    <mat-form-field class="registration__form__username">
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-checkbox class="registration__form__checkbox">I agree with the rules</mat-checkbox>

    <button class="registration__form__button" mat-button color="accent">Sign Up</button>
  </form>
  <div  class="registration__action">
    <span>Do you already have an account?</span>
    <span class="registration__action__sign-up">Sign In</span>
  </div>
</div>
