.registration {
  backface-visibility: hidden;
  &__alert {
    margin: 1rem auto;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-weight: bold;

    &_success {
      color: #3ecd44;
      border: 2px solid #3ecd44;
      border-radius: 1rem;
    }

    &_danger {
      color: #f44336;
      border: 2px solid #f44336;
      border-radius: 1rem;
    }
  }
  &__title {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__email {
      width: 100%;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__password {
      width: 100%;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__username {
      width: 100%;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__checkbox {
      color: rgba(255, 255, 255, 0.70);
      font-size: 1.8rem;
      padding: 1rem 0;
      margin-right: auto;
    }

    &__button {
      color: rgba(255, 255, 255, 0.70);
      width: 100%;
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem;
    }
  }

  &__action {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.70);

    &__sign-up {
      font-weight: bold;
      text-transform: uppercase;
      color: #6acaff;
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}
