<div class="records-page" [@EnterLeave]>
  <mat-card class="records-page__header">
    <div class="records-page__header__title">
      <h3 class="records-page__header__title__text">Records page</h3>
    </div>
    <div class="records-page__header__action">
      <button mat-fab color="primary">
        <i class="material-icons">refresh</i>
      </button>
    </div>
  </mat-card>
  <div class="bill-page__content__loader" *ngIf="!isLoaded">
    <mat-progress-spinner
      class="example-margin"
      [color]="spinnerColor"
      [mode]="spinnerMode"
      [value]="spinnerValue">
    </mat-progress-spinner>
  </div>
  <div class="records-page__content" *ngIf="isLoaded">
    <ha-add-events></ha-add-events>
    <ha-add-categories [categories]="categories"
                       [icons]="icons"
                       (addNewCategory)="newCategoryAdded($event)"
                       (editCategory)="editCategory($event)"
    ></ha-add-categories>
  </div>
</div>
