@import 'variables';

.top-bar {
  width: 100%;

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 19px 10px 20px 0 black;
  }

  .mat-card {
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card {
    height: 70px;
    &__time {
      &__content {
        font-family: $titillium-font-family;
        font-weight: $font-weight-extra-thin;
        font-size: $font-size-lg;
        letter-spacing: $base-letter-spacing;
        color: $base-color;
      }
    }

    &__user {
      &__menu.mat-menu-panel {
        width: 165px;
        position: relative;
        top: 17px;
        border-radius: 0;
      }
      &__name {
        font-family: $base-font-family;
        font-weight: $font-weight-extra-thin;
        font-size: $base-font-size;
        letter-spacing: $base-letter-spacing;
        color: $base-color;

        &__config {
          font-family: $base-font-family;
          font-weight: $font-weight-extra-thin;
          font-size: $base-font-size;
          letter-spacing: $base-letter-spacing;
          color: $base-color;

          > span {
            margin-left: $margin-md;
          }
        }
      }
    }
  }
}
