@import 'variables';

.bill-page__content__card-currency {
  flex: 0 0 65%;
  &__title {
    &__text {
      margin: 0;
      font-family: $base-font-family;
      font-weight: $font-weight-extra-thin;
      font-size: $font-size-lg;
      letter-spacing: $base-letter-spacing;
      color: $base-color;
    }
  }

  &__body {
    &__table {
      width: 100%;

      thead, tbody {
        tr {
          td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
            width: 25%;
            font-family: $base-font-family;
            font-weight: $font-weight-extra-thin;
            font-size: $font-size-lg;
            color: $base-color;
            letter-spacing: $base-letter-spacing;
          }
        }
      }
    }
  }
}
