@import 'variables';
@import 'themes';

@import '../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');
html {
  font-size: $base-font-size;
  font-family: $base-font-family;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}
